#vsrp_widget{
    padding: 8px 0;
}

#vsrp_Holder{
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    margin-left: 1px;
}

.vsrp_div{
    padding: 4px 0;
    overflow: hidden;
    line-height: 1.1;
}

.vsrp_error{
    padding: 5px 0;
}

.vrsp_date {
    font-size: 11px;
}

#vsrp_category_link{
    margin: 2% 0 0 0;
    float: right;
    font-style: italic;
}

.vsrp_text {
    display: inline-block;
    padding: 0 0 0 2%;
    font-size: 12px;
}

.wp-post-image{
    vertical-align: middle;
}

.vsrp_thumb{
}